body {
	background-color: #f3aab7;
	margin: 0;
	padding: 0;
}

h1 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #61353d;
}